.modal {
  &_container {
    background: rgba(0, 0, 0, 0.53);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    animation: apear 0.5s;
    z-index: 1;
  }
  &_padding {
    padding: 60px 70px;
  }
}
@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-edit-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px 150px;
  max-width: 1200px;
  label {
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    text-align: left;
  }
  input {
    border-radius: 8px;
    border: 1px solid #374952;
    margin-bottom: 32px;
    margin-top: 8px;
    padding: 12px 20px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.25px;
    color: #323232;
  }
}

.half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_div {
    width: 48%;
  }
}

a {
  text-decoration: none;
}
