.modal {
  &_container {
    background: rgba(0, 0, 0, 0.53);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    animation: apear 0.5s;
  }
  &_padding {
    padding: 50px 72px;

    min-width: 400px;
    height: auto;
  }
  &_close {
    position: relative;
    right: -20px;
    cursor: pointer;
    align-self: flex-end;

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #374952;
  }
}
@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
