.btn-pink-light {
  padding: 11px 60px;
  background-color: #da0175;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  color: #f7f7f7;
}

.btn-pink-light:disabled {
  background-color: rgba(218, 1, 117, 0.35);
}
