.show_client {
  &-container {
    background: #ffffff;
    border-radius: 16px;
    padding: 40px 60px 50px 60px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &-h1 {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #323232;
    margin-bottom: 20px;
  }
  &-h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 15px;
    color: #374952;
    text-align: left;
    margin-bottom: 18px;
  }
  &-h3 {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.005em;
    color: #4c4c4c;
  }
  &-h4 {
    font-weight: 600;
  }
  &-strong {
    font-weight: 600;
    color: #374952;
    margin-bottom: 10px;
  }
  &-img {
    width: 14px;
    margin-right: 9px;
  }
  &-border {
    border-right: 1px solid #dddddd;
  }
  &-card {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
  }
  &-info {
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    max-width: 400px;
    justify-content: flex-start;
  }
}
.between {
  justify-content: space-between;
}
.right {
  text-align: right;
}
.mr {
  margin-right: 25px;
}
.mb20 {
  margin-bottom: 5px;
}
.mt10 {
  margin-top: 10px;
}
.charge_card {
  &-inside {
    min-width: 410px;
    max-height: 80px;
    box-sizing: border-box;
    background: #f9f9f9;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px 22px;
  }
  // TODO ver como tirar scroll da parte debaixo do http://localhost:3000/clientes
  &-container {
    display: flex;
    flex-direction: column;
    grid-row-gap: 15px;
    max-height: 300px;
    max-width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.show_charges-h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #4c4c4c;
}

.show_charges-h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #4c4c4c;
}

.show_charges-h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}

.max250 {
  max-height: 300px;
}
.edit_modal_close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}
.edit_modal_width {
  width: 780px;
}
