.input-password {
    position: relative;
    color: #4C4C4C;
    font-size: 14px;;
}

.eye-password {
    position: absolute;
    right: 720px;
    top: 430px;
    cursor: pointer;
    color: #BEBEBE;
}