nav {
    background: #263238;
    height: 1000px;
    width: 264px;    
    padding-top: 32px;
}

.cubos {
    height: 32px;
    width: 135px;
    margin-left: 48px;
}

.content {
    margin-top: 58px;
}

.content a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #FFFFFF;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content img {
    margin-right: 20px;
    margin-left: 48px;
}

.home {
    margin-left: 4px;
}

.clientes {
    margin-left: 3px;
}

.active {
    background-color: #374952;
    height: 47px;
    width: 100%;
}