.view_clients_row {
  width: 80%;
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.client-list- {
  &name {
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
  }
  &email {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
}

.small {
  font-size: 12px;
}
.mb30 {
  margin-bottom: 30px;
}

.emdia {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  color: #4ec06e;
}

.inadimplente {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  color: #ff4d4d;
}
