.button-register {
    margin: 100px 0px 0px 70px;
}

.button-register button {
    background-color: #E5E5E5;
}

.table-head {
    height: 32px;
    width: 958px;
    background-color: #9DBBC3;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #FFFFFF;
    justify-content: space-around;
    margin: 50px 250px 24px 70px;
    margin-left: 70px;
    margin-bottom: 24px;
}

.table-body {
    height: 131px;
    width: 958px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-left: 70px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #4C4C4C;
}