.button-register {
  margin: 100px 0px 0px 70px;
  &-button {
    background-color: #e5e5e5;
  }
}

.table-head {
  height: 32px;
  width: 958px;
  background-color: #9dbbc3;
  border-radius: 8px;
  margin: 50px 0px 24px 70px;
}

.table-head h1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #ffffff;
  margin-left: 24px;
}

.th-middle {
  width: 500px;
  justify-content: space-between;
  margin-left: 150px;
}

.empty-space {
  width: 50px;
  margin-left: 200px;
}

.table-body {
  width: 958px;
  margin-left: 70px;
  justify-content: flex-start;
}

.id-client {
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #4c4c4c;
  align-items: center;
  padding: 16px 56px 16px 24px;
}

.id-client p {
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: 0px;
  cursor: pointer;
}

.client-column {
  justify-content: space-between;
}

.client-column a {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #4c4c4c;
}

.client-column img {
  margin-right: 7px;
}

.mail {
  margin-bottom: 7px;
}

.cob-feitas {
  position: absolute;
  left: 590px;
}

.cob-recebidas {
  position: absolute;
  left: 780px;
}

.status {
  position: absolute;
  left: 1000px;
}

.emdia {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  color: #4ec06e;
}

.inadimplente {
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  color: #ff4d4d;
}

.edit {
  position: absolute;
  left: 1200px;
  cursor: pointer;
}
